<!--<app-navbar></app-navbar>-->
<!--<div class="container row" style="margin-bottom: 5%; display: flex" *ngFor="let event of events">-->
<!--  <div class="card" style="flex: 1; width: 150px">-->
<!--    <ul class="list-group list-group-flush">-->
<!--      <li class="list-group-item" style="color: blue">Event Name : {{event.name}}</li>-->
<!--      <li class="list-group-item" style="color: green">Start Date : {{event.startDate}} </li>-->
<!--      <li class="list-group-item" style="color: red">End Date : {{event.startDate}} </li>-->
<!--      <li class="list-group-item">Event Description :-->
<!--        <p>-->
<!--          {{event.description}}-->
<!--        </p>-->
<!--      </li>-->
<!--      <li class="list-group-item" style="color: gold">Event Company : {{event.companyName}}</li>-->
<!--&lt;!&ndash;      <li><button type="button" (click)="reject(event.eventId)" class="btn btn-danger">Reject</button></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><button type="button" (click)="approve(event.eventId)" class="btn btn-success">approve</button></li>&ndash;&gt;-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
